.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

body{
  background-color: rgb(11, 112, 180);
}

.targetPokemon{
  display:inline-block;
  margin:1%;
  width:25%
}

.tipo{
  width: 25px;
  height: 10px;
  border-radius: 10px;
}

ç´ç´ç´ç´ç

.buttMode{
width: 5%;
}

.Soleado{
  background-color: rgb(24, 121, 177);
}

.Obscuro{
  background-color: rgb(56, 56, 56);
  color: white;
}